.credibility-indicators {

	&__wrapper {
	}

	&__closed {
		align-items: center;
		display: flex;

		.credibility-indicators__closed__label {
			font-family:'Libre Franklin',Arial, Helvetica, sans-serif;
			font-size: 16px;
			font-weight: bold;
			margin: 0 0 0 .7rem !important;
			padding: 0;
		}

		ul {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			gap: 1rem;
			justify-content: flex-start;
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				align-items: center;
				display: flex;

				svg {
					margin-right: 5px;
				}
			}
		}
	}

	&__open {
		display: none;

		table {

			tr {

				td {
					border: none;
				}

				.credibility-indicators__open__icon {

				}

				.credibility-indicators__open__label {
					font-size: 16px;
					font-weight: bold;
					overflow: hidden;
					white-space: nowrap;
				}

				.credibility-indicators__open__description {
					word-break: normal;
				}
			}
		}
	}
}
